<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /

    # Hapus trailing slashes jika bukan folder
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.+)/$ /$1 [L,R=301]

    # Aturan untuk folder asset
    RewriteRule ^asset/delete$ asset/delete.php [L]
    RewriteRule ^asset/grafik$ asset/grafik.php [L]
    RewriteRule ^asset/input$ asset/input.php [L]
    RewriteRule ^asset/read$ asset/read.php [L]

    # Aturan untuk folder user
    RewriteRule ^user/delete_user$ user/delete_user.php [L]
    RewriteRule ^user/getData$ user/getData.php [L]
    RewriteRule ^user/login$ user/login.php [L]
    RewriteRule ^user/update$ user/update.php [L]
</IfModule>
